* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.app {
  height: 100vh;
  background-color: #f8f8f8;
}

.box {
  height: 600px;
  border-radius: 15px;
  background-color: #fff;
  overflow-y: scroll;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.3);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: #3B8754;
  border-radius: 25px;
}

.btn {
  width: 200px;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

span {
  color: #3B8754;
}